.viewport {
	position: relative;
	width: 100%;
	height: 240px;
	margin: 0 auto;
	background: #f5f5f5;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	min-width: 100%;
	height: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.carousel_item_v {
	width: 100%;
	float: top;
}

.carousel_item_h{
	height: 100%;
	float: left;
}

.indicator {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	z-index: 1;
	width: 100%;

	.item {
		height: 5px;
		width: 5px;
		border-radius: 50%;
		margin-right: 5px;
		border: 1px solid #888;
	}

	.item_def {
		@extend .item;

		background-color: #f5f5f5;
	}

	.item_active {
		@extend .item;

		background-color: #333;
	}
}
